# Large structure files — too big for GitHub
*.pdb
*.cif
*.mmcif
*.sdf
*.mol2

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Conda environment
envs/

# Logs and temp files
*.log
*.tmp

# Results that can be regenerated
03-virtual-screening/**/docking_results/

# OS files
.DS_Store
Thumbs.db

# AF3 large files — MSA folders and full data json
01-alphafold3/**/msas/
01-alphafold3/**/templates/
01-alphafold3/**/*full_data*.json
01-alphafold3/**/*.a3m
